@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset margin dan padding default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif; /* Ganti dengan font Poppins */
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Hilangkan scroll pada body */
}

.container {
    width: 1280px;
    height: 800px;
    background-color: #2e2e2e;
    display: flex;
    border-radius: 20px;
    overflow: hidden; /* Hilangkan scroll pada container */
    -webkit-app-region: drag;
}

.sidebar {
    width: 250px;
    background-color: #FFFFFF;
    padding: 20px;
    overflow: hidden; /* Hilangkan scroll pada sidebar */
    -webkit-app-region: no-drag;
}

.sidebar h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold; /* Tambahkan bobot teks jika diperlukan */
    color: #000;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  color: #404040;
  transition: background-color 0.3s;
}

.sidebar button .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #404040;
  margin-right: 10px;
  border-radius: 5px;
}

.sidebar button.active .icon,
.sidebar button:hover .icon {
  background-color: #4CAA98;
}

.sidebar button .text {
  font-weight: 500;
}

.sidebar button.active {
  font-weight: bold;
}

.sidebar button.active .text {
  font-weight: bold;
}

.sidebar a.active {
    background-color: #4CAA98;
}

.content {
    flex: 1;
    padding: 30px;
    /* overflow: hidden;  */
}

.content h1 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold; /* Tambahkan bobot teks jika diperlukan */
}

.cards {
    display: flex;
    justify-content: space-around;
    overflow: hidden; /* Hilangkan scroll pada cards */
    -webkit-app-region: no-drag;
}

.card {
    width: 250px;
    height: 300px;
    background-color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin: 0;
    font-weight: bold; /* Tambahkan bobot teks jika diperlukan */
}